@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap');
// font family
// main variables
$main-font: 'Nunito', sans-serif;
$color-main: #ffa500;
$secondary-color: #6c6666;
$header-bg: #ffedcc;
$input-bg: #f7f7f7;
$footer: #333333;

$transition: all .3s ease;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .2s linear;
}

body {
    font-family: $main-font;
    transition: $transition;
}

a {
    text-decoration: none;
}

a:hover {
    color: $color-main;
}

li {
    list-style-type: none;
}

header {
    background-color: $footer;
    color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 9999;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
    flex-direction: column;

    .nav {
        width: 100%;
    }

    #navMenu {
        height: 37px;
        width: 46px;
        border: 1px solid #fff;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        display: none;
        cursor: pointer;
    }

    #navMenuDel {
        height: 37px;
        width: 46px;
        border: 1px solid #fff;
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        font-size: 24px;
        font-weight: 700;
        display: none;
        cursor: pointer;
    }

    .navContainer {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        height: 75px;

        .siteNav {
            // border: 1px solid #fff;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 0 auto;

            .navLogo {
                a {
                    font-size: 26px;
                    font-weight: bolder;
                    transition: all .3s ease;
                    color: #fff;

                    span {
                        color: $color-main;
                    }

                    a:hover {
                        color: #fff;
                    }
                }
            }

            .navTab {
                display: flex;
                align-items: center;

                ul {
                    margin: auto;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    li:not(last-child) {
                        margin-right: 20px;

                        a {
                            font-size: 18px;
                            font-weight: 500;
                            transition: all .3s ease;
                            color: #fff;
                        }

                        a:hover {
                            color: $color-main;
                        }
                    }
                }
            }

            .navLogin {
                i {
                    font-size: 25px;
                    transition: all .3s ease;
                }

                .two {
                    padding-left: 10px;
                }

                i:hover {
                    color: $color-main;
                    cursor: pointer;
                }
            }
        }
    }

    @keyframes mymove {
        0% {
            top: 0px;
        }

        25% {
            top: 200px;
        }

        50% {
            top: 100px;
        }

        75% {
            top: 200px;
        }

        100% {
            top: 0px;
        }
    }

    .responsMenu {
        // padding-top: 71px;
        width: 100%;
        color: #fff;
        background: $footer;
        border-top: 1px solid #fff;
        transition: $transition;
        display: none;

        ul {
            padding: 15px;

            li {
                div {
                    background-color: #222222;
                    padding: 15px;
                    margin-top: 10px;
                    transition: $transition;
                    width: 97%;
                    border-radius: 7px;

                    a {
                        color: #ffff;
                        font-size: 18px;
                        transition: $transition;

                    }

                    a:hover {
                        color: $color-main;
                    }
                }
            }
        }
    }

    @media(max-width: 990px) {
        .navContainer {
            width: 97%;
        }

        .navTab {
            display: none;
        }

        #home {
            .content {
                h1 {
                    width: 120%;
                }
            }
        }
    }

}

@media(max-width: 768px) {
    header {
        #navMenu {
            display: flex;
        }

        .navContainer {
            .siteNav {
                .navLogo {
                    // border: 1px solid #fff;
                    margin: auto;

                    a {
                        font-size: 23px;
                    }
                }

                .navTab {
                    display: none;
                }
            }
        }
    }
}

#home {
    .videoBg {
        video {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            position: relative;
            top: 0;
        }
    }

    .content {
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        top: 38%;
        width: 100%;
        color: #fff;
        text-align: center;

        h1 {
            font-size: 45px;
            font-weight: 700;
            width: 100%;
        }

        h3 {
            font-size: 24px;
        }

        button {
            border: 2px solid $color-main;
            padding: 8px;
            margin-top: 5px;
            color: #fff;
            background-color: $color-main;
            width: 175px;

            a {
                color: #fff;
            }
        }

        button:hover {
            background-color: #ffa60060;
        }

        .controls {
            background: #141414e1;
            width: 180px;
            height: 40px;
            margin: 98px auto;
            border-radius: 23px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 12px;

            .control {
                background-color: #fff;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                z-index: 99;
                cursor: pointer;
            }

            .control.active {
                background: $color-main;
            }

        }
    }
}


  

// All sections headder
.allHeader {
    text-align: center;
    padding:2.5rem;
    margin: auto;
    width: 100%;
    margin: 0px auto;
    font-size: 40px;
    font-weight: 600;
    span {
        // font-size: 3.5rem;
        background: rgba(255, 165, 0,.2);
        color:$color-main;
        border-radius: .5rem;
        padding:.2rem 1rem;
    }

    .space {
        margin-left: 15px;
    }
}

// book section

#book {
    .bookContainer {
        width: 80%;
        margin: auto;
        .bookRow {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            .bookImg {
                width: 45%;
                img {
                    width: 110%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .bookForm {
                width: 50%;
                height: 100%;
                padding: 20px;
                border-radius: 5px;
                -webkit-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);

                div {
                    display: flex;
                    flex-direction: column;
                    margin: 30px 0;
                    // padding: 10px;
                    
                    span {
                        // margin: 15px 0;
                        margin-bottom: 10px;
                        font-size: 20px;
                        font-weight: 700;
                        color: #666667;
                    }

                    input {
                        padding: 10px;
                        outline: none;
                    }

                }

                button {
                    border: 2px solid $color-main;
                    padding: 8px;
                    margin-top: 5px;
                    color: #fff;
                    background-color: $color-main;
                    width: 145px;

                    a {
                        color: #fff;
                    }
                }

                button:hover {
                    background-color: #ffa60060;
                    color: $color-main;
                }
            }
        }
    }
}

section{
    overflow: hidden;
}
// Packages section

#packages {
    overflow: hidden;
    .packageContainer{
        width: 100%;
        overflow: hidden;
        width: 80%;
        margin: auto;
        .packagesCards {
            display: grid;
            width: 100%;
            grid-template-columns: repeat(3, 1fr);
            gap: 17px;
    
            .packgesCard {
                width: 100%;
                height: 100%;
                // padding: 20px;
                // border: 1px solid #000;
                object-fit: cover;
                border-radius: 5px;
                -webkit-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
    
                img {
                    width: 100%;
                    object-fit: cover;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    height: 16rem;
                }
    
                .content {
                    padding: 20px;
                    // padding-bottom: 25px;
                    .place {
                        display: flex;
    
                        .location {
                            color: $color-main;
                            font-size: 20px;
                            padding-right: 5px;
                            padding-top: 0px;
                        }
    
                        h4 {
                            font-weight: 700;
                            font-size: 20px;
                        }
                    }
    
                    p {
                        color: $secondary-color;
                        font-size: 17px;
                        margin-bottom: 0;
                        line-height: 21px;
                        text-transform: capitalize;
                    }
    
                    .stars {
                        color: $color-main;
                        padding: 9px 0;
                        font-size: 16px;
                    }
    
                    h5 {
                        s {
                            font-size: 15px;
                            color: $secondary-color;
                        }
                    }
    
                    button {
                        border: 2px solid $color-main;
                        padding: 8px;
                        // margin-top: 5px;
                        color: #fff;
                        background-color: $color-main;
                        width: 145px;
                        margin: 10px 0;
                        a {
                            color: #fff;
                        }
                    }
    
                    button:hover {
                        background-color: #ffa60060;
                        color: $color-main;
                    }
    
                }
            }
        }
    }
}

.package {
    margin-top: 50px;
    margin-bottom: 20px;
}

#services {
    .serviceContainer{
        width: 80%;
        margin: 0 auto;

        .serviceCards {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .serviceCard {
                text-align: center;
                padding: 10px;
                // width: 23%; 
                i {
                    font-size: 55px;
                    color: $color-main;
                }
    
                h3 {
                    font-size: 25px;
                    font-weight: 600;
                    margin: 12px auto;
                }
    
                p {
                    font-size: 15px;
                    color: $secondary-color;
                }
    
    
            }
    
            .serviceCard:hover {
                -webkit-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
    
            }
        }
    }
}

// gallery
#gallery {
    overflow: hidden;

    .galleryContainer{
        width: 100%;
        margin: 0 auto;
        .gallery {
  
    
            .case:hover .content {
                top: 5px;
            }
    
            .case {
                // width: 100%;
                // height: 250px;
                overflow: hidden;
                position: relative;
                border: 5px solid #fff;
                // padding: 5px;
                border-radius: 7px;
                -webkit-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                -moz-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
                padding: 5px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
    
                .content {
                    position: absolute;
                    z-index: 99;
                    top: -500px;
                    padding: 12px;
                    text-align: center;
                    padding-top: 40px;
                    background: rgba(0, 0, 0, .7);
                    width: 97%;
                    height: 96%;
                    color: #fff;
                    transition: all .3s linear;
    
                    h4 {
                        color: $color-main;
                        font-weight: 700;
                        font-size: 25px;
                    }
    
                    p {
                        width: 90%;
                        margin: 10px auto;
                    }
    
                    button {
                        border: 2px solid $color-main;
                        padding: 6px;
                        margin-top: 5px;
                        color: #fff;
                        background-color: $color-main;
                        width: 135px;
    
                        a {
                            color: #fff;
                        }
                    }
    
                    button:hover {
                        background-color: #ffa60060;
                        color: $color-main;
                    }
                }
            }
    
    
        }
    
        .egypt:hover .content {
            top: 5px;
        }
    
        .egypt {
            // top: 20px;
            // width: 100%;
            left: auto;
            right: auto;
            height: 300px;
            overflow: hidden;
            position: relative;
            border: 5px solid #fff;
            border-radius: 7px;
            -webkit-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
            padding: 5px;
            transition: all .8s ease-in;
            // left: 10px;
            // top: 10px;
            bottom: 10px;
            right: 10px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
    
            .content {
                position: absolute;
                z-index: 99;
                top: -500px;
                padding: 12px;
                text-align: center;
                padding-top: 40px;
                background: rgba(0, 0, 0, .7);
                width: 100%;
                height: 96%;
                color: #fff;
                transition: all .2s linear;
    
                h4 {
                    color: $color-main;
                    font-weight: 700;
                    font-size: 25px;
                }
    
                p {
                    width: 90%;
                    margin: 10px auto;
                }
    
                button {
                    border: 2px solid $color-main;
                    padding: 6px;
                    margin-top: 5px;
                    color: #fff;
                    background-color: $color-main;
                    width: 135px;
    
                    a {
                        color: #fff;
                    }
                }
    
                button:hover {
                    background-color: #ffa60060;
                    color: $color-main;
                }
            }
        }
    }
}

// review section 
#review {
    overflow: hidden;
    padding: 20px;
    .block{
        border-radius: 15px;
        text-align: center;
        padding:20px;
        box-shadow: 0 10px 20px rgba(0,0,0,.1);
        margin-bottom: 40px; 
        h3{
            color:grey;
            font-size: 25px;
          }
          img{
            height:120px;
            width:120px;
            border-radius: 50%;
          }
          p{
            padding: 15px 0;
            color:grey;
            font-size: 15px;
          }
          .stars i{
            color:orange;
            font-size: 17px;
          }
      }
}

#contact{
  .contactContainer{
    width: 80%;
    margin: 0 auto;

    .contactForm{
        width: 100%;
        height: 80%;;
        // margin: 20px auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .formImg{
            width: 45%;
            img{
                width: 100%;
                height: 100%;
                // margin: auto;
                object-fit: cover;
            }
        }
        .form{
            // margin: auto;
            -webkit-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
            -moz-box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
            box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
            padding: 30px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-direction: column;
            div{
                width: 100%;
                margin: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                input{
                    background-color: #f7f7f7;
                    border: none;
                    outline: none;
                    padding: 10px;
                    width: 55%;
                    margin: 5px;
                }
            }
            textarea{
                width: 99%;
                padding: 10px;
                // height:142px;
                border: none;
                margin-left: 14px;
                background: #f7f7f7;
            }
            button {
                border: 2px solid $color-main;
                padding: 6px;
                // margin: 10px 12px;
                color: #fff;
                background-color: $color-main;
                width: 135px;
                margin-top: 30px;
                margin-left: 10px;
                a {
                    color: #fff;
                }
            }

            button:hover {
                background-color: #ffa60060;
                color: $color-main;
            }
        }
    }
  }
}


#sponsors{
    margin-top: 20px;
    .swiper {
    
        width: 100%;
        height: 100%;
      }
    
    
      .swiper-slide img {
        display: block; 
        object-fit: cover;
      }
    
    

}


    
      .i{
        height: 2000px;
      }


      footer{
        background-color: $footer;
        width: 100%;
        padding: 40px;
        margin-top: 50px;
        color: #fff;

        a{
            color: #fff;
        }
        a:hover{
            color: $color-main;
            text-decoration:underline;
        }
        hr{
            margin: 20px auto;
        }
        .footerLink{
            display: flex;
            flex-direction: column;
        }
        span{
            color: $color-main;
        }
      }






// media queries
@media(max-width: 1200px){
    #packages{
        .packageContainer{
            width: 98%;
        }
    }

    #services{
        .serviceContainer{
            width: 100%;
        }
    }

    // #gallery{
    //     .gallery{
    //         grid-template-columns: repeat(3, 1fr);
    //         .egypt{
    //             width: 20%
    //         }
    //     }
    // }
 
    
}


@media(max-width: 910px){
    #packages{
        .packageContainer{
            width: 90%;

            .packagesCards{
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}




@media(max-width: 990px){
    #book{
        .bookContainer{
            width: 98%;
        }
    }


}

@media(max-width: 770px){
    #book{
        .bookContainer{
            .bookRow{
                flex-direction: column;
                .bookImg{
                    width: 90%;
                }
                .bookForm{
                    width: 96%;
                }
            }
        }

    }
    .allHeader{
        font-size: 26px;
        width: 101%;
        // span{
        //     padding: 10px;
        // }
        .space{
            margin-left: 5px;
        }
    }
}

    
// #packages{
//     overflow: hidden;
//     .packageContainer{
//         width: 90%;
//     }
// }

@media(max-width: 520px){
    .allHeader{
        font-size: 18px;
        width: 101%;
        span{
            // width: 50%;
            padding: 10px 8px;
        }
    }



}


@media(max-width: 650px){
    #packages{
        .packageContainer{
            width: 90%;

            .packagesCards{
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}

@media(max-width: 1200px){
    #contact{
        .contactContainer{
            width: 100%;
        }
    }
}
@media(max-width: 830px){
    #contact{
        .contactContainer{
            .contactForm{
                display: flex;
                flex-direction: column;

                .formImg{
                    width: 80%;
                }
                .form{
                    width: 98%;
                }
            }
        }
    }
}