@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

body {
  font-family: "Nunito", sans-serif;
  transition: all 0.3s ease;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ffa500;
}

li {
  list-style-type: none;
}

header {
  background-color: #333333;
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 9999;
  border-bottom: 1px solid rgba(255, 255, 255, 0.33);
  flex-direction: column;
}
header .nav {
  width: 100%;
}
header #navMenu {
  height: 37px;
  width: 46px;
  border: 1px solid #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  display: none;
  cursor: pointer;
}
header #navMenuDel {
  height: 37px;
  width: 46px;
  border: 1px solid #fff;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 700;
  display: none;
  cursor: pointer;
}
header .navContainer {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 75px;
}
header .navContainer .siteNav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
header .navContainer .siteNav .navLogo a {
  font-size: 26px;
  font-weight: bolder;
  transition: all 0.3s ease;
  color: #fff;
}
header .navContainer .siteNav .navLogo a span {
  color: #ffa500;
}
header .navContainer .siteNav .navLogo a a:hover {
  color: #fff;
}
header .navContainer .siteNav .navTab {
  display: flex;
  align-items: center;
}
header .navContainer .siteNav .navTab ul {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navContainer .siteNav .navTab ul li:not(last-child) {
  margin-right: 20px;
}
header .navContainer .siteNav .navTab ul li:not(last-child) a {
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s ease;
  color: #fff;
}
header .navContainer .siteNav .navTab ul li:not(last-child) a:hover {
  color: #ffa500;
}
header .navContainer .siteNav .navLogin i {
  font-size: 25px;
  transition: all 0.3s ease;
}
header .navContainer .siteNav .navLogin .two {
  padding-left: 10px;
}
header .navContainer .siteNav .navLogin i:hover {
  color: #ffa500;
  cursor: pointer;
}
@-webkit-keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 200px;
  }
  50% {
    top: 100px;
  }
  75% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}
@keyframes mymove {
  0% {
    top: 0px;
  }
  25% {
    top: 200px;
  }
  50% {
    top: 100px;
  }
  75% {
    top: 200px;
  }
  100% {
    top: 0px;
  }
}
header .responsMenu {
  width: 100%;
  color: #fff;
  background: #333333;
  border-top: 1px solid #fff;
  transition: all 0.3s ease;
  display: none;
}
header .responsMenu ul {
  padding: 15px;
}
header .responsMenu ul li div {
  background-color: #222222;
  padding: 15px;
  margin-top: 10px;
  transition: all 0.3s ease;
  width: 97%;
  border-radius: 7px;
}
header .responsMenu ul li div a {
  color: white;
  font-size: 18px;
  transition: all 0.3s ease;
}
header .responsMenu ul li div a:hover {
  color: #ffa500;
}
@media (max-width: 990px) {
  header .navContainer {
    width: 97%;
  }
  header .navTab {
    display: none;
  }
  header #home .content h1 {
    width: 120%;
  }
}

@media (max-width: 768px) {
  header #navMenu {
    display: flex;
  }
  header .navContainer .siteNav .navLogo {
    margin: auto;
  }
  header .navContainer .siteNav .navLogo a {
    font-size: 23px;
  }
  header .navContainer .siteNav .navTab {
    display: none;
  }
}
#home .videoBg video {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: 0;
}
#home .content {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 38%;
  width: 100%;
  color: #fff;
  text-align: center;
}
#home .content h1 {
  font-size: 45px;
  font-weight: 700;
  width: 100%;
}
#home .content h3 {
  font-size: 24px;
}
#home .content button {
  border: 2px solid #ffa500;
  padding: 8px;
  margin-top: 5px;
  color: #fff;
  background-color: #ffa500;
  width: 175px;
}
#home .content button a {
  color: #fff;
}
#home .content button:hover {
  background-color: rgba(255, 166, 0, 0.3764705882);
}
#home .content .controls {
  background: rgba(20, 20, 20, 0.8823529412);
  width: 180px;
  height: 40px;
  margin: 98px auto;
  border-radius: 23px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
}
#home .content .controls .control {
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
}
#home .content .controls .control.active {
  background: #ffa500;
}

.allHeader {
  text-align: center;
  padding: 2.5rem;
  margin: auto;
  width: 100%;
  margin: 0px auto;
  font-size: 40px;
  font-weight: 600;
}
.allHeader span {
  background: rgba(255, 165, 0, 0.2);
  color: #ffa500;
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}
.allHeader .space {
  margin-left: 15px;
}

#book .bookContainer {
  width: 80%;
  margin: auto;
}
#book .bookContainer .bookRow {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}
#book .bookContainer .bookRow .bookImg {
  width: 45%;
}
#book .bookContainer .bookRow .bookImg img {
  width: 110%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#book .bookContainer .bookRow .bookForm {
  width: 50%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
}
#book .bookContainer .bookRow .bookForm div {
  display: flex;
  flex-direction: column;
  margin: 30px 0;
}
#book .bookContainer .bookRow .bookForm div span {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #666667;
}
#book .bookContainer .bookRow .bookForm div input {
  padding: 10px;
  outline: none;
}
#book .bookContainer .bookRow .bookForm button {
  border: 2px solid #ffa500;
  padding: 8px;
  margin-top: 5px;
  color: #fff;
  background-color: #ffa500;
  width: 145px;
}
#book .bookContainer .bookRow .bookForm button a {
  color: #fff;
}
#book .bookContainer .bookRow .bookForm button:hover {
  background-color: rgba(255, 166, 0, 0.3764705882);
  color: #ffa500;
}

section {
  overflow: hidden;
}

#packages {
  overflow: hidden;
}
#packages .packageContainer {
  width: 100%;
  overflow: hidden;
  width: 80%;
  margin: auto;
}
#packages .packageContainer .packagesCards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}
#packages .packageContainer .packagesCards .packgesCard {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
}
#packages .packageContainer .packagesCards .packgesCard img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 16rem;
}
#packages .packageContainer .packagesCards .packgesCard .content {
  padding: 20px;
}
#packages .packageContainer .packagesCards .packgesCard .content .place {
  display: flex;
}
#packages .packageContainer .packagesCards .packgesCard .content .place .location {
  color: #ffa500;
  font-size: 20px;
  padding-right: 5px;
  padding-top: 0px;
}
#packages .packageContainer .packagesCards .packgesCard .content .place h4 {
  font-weight: 700;
  font-size: 20px;
}
#packages .packageContainer .packagesCards .packgesCard .content p {
  color: #6c6666;
  font-size: 17px;
  margin-bottom: 0;
  line-height: 21px;
  text-transform: capitalize;
}
#packages .packageContainer .packagesCards .packgesCard .content .stars {
  color: #ffa500;
  padding: 9px 0;
  font-size: 16px;
}
#packages .packageContainer .packagesCards .packgesCard .content h5 s {
  font-size: 15px;
  color: #6c6666;
}
#packages .packageContainer .packagesCards .packgesCard .content button {
  border: 2px solid #ffa500;
  padding: 8px;
  color: #fff;
  background-color: #ffa500;
  width: 145px;
  margin: 10px 0;
}
#packages .packageContainer .packagesCards .packgesCard .content button a {
  color: #fff;
}
#packages .packageContainer .packagesCards .packgesCard .content button:hover {
  background-color: rgba(255, 166, 0, 0.3764705882);
  color: #ffa500;
}

.package {
  margin-top: 50px;
  margin-bottom: 20px;
}

#services .serviceContainer {
  width: 80%;
  margin: 0 auto;
}
#services .serviceContainer .serviceCards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#services .serviceContainer .serviceCards .serviceCard {
  text-align: center;
  padding: 10px;
}
#services .serviceContainer .serviceCards .serviceCard i {
  font-size: 55px;
  color: #ffa500;
}
#services .serviceContainer .serviceCards .serviceCard h3 {
  font-size: 25px;
  font-weight: 600;
  margin: 12px auto;
}
#services .serviceContainer .serviceCards .serviceCard p {
  font-size: 15px;
  color: #6c6666;
}
#services .serviceContainer .serviceCards .serviceCard:hover {
  box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
}

#gallery {
  overflow: hidden;
}
#gallery .galleryContainer {
  width: 100%;
  margin: 0 auto;
}
#gallery .galleryContainer .gallery .case:hover .content {
  top: 5px;
}
#gallery .galleryContainer .gallery .case {
  overflow: hidden;
  position: relative;
  border: 5px solid #fff;
  border-radius: 7px;
  box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
  padding: 5px;
}
#gallery .galleryContainer .gallery .case img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#gallery .galleryContainer .gallery .case .content {
  position: absolute;
  z-index: 99;
  top: -500px;
  padding: 12px;
  text-align: center;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.7);
  width: 97%;
  height: 96%;
  color: #fff;
  transition: all 0.3s linear;
}
#gallery .galleryContainer .gallery .case .content h4 {
  color: #ffa500;
  font-weight: 700;
  font-size: 25px;
}
#gallery .galleryContainer .gallery .case .content p {
  width: 90%;
  margin: 10px auto;
}
#gallery .galleryContainer .gallery .case .content button {
  border: 2px solid #ffa500;
  padding: 6px;
  margin-top: 5px;
  color: #fff;
  background-color: #ffa500;
  width: 135px;
}
#gallery .galleryContainer .gallery .case .content button a {
  color: #fff;
}
#gallery .galleryContainer .gallery .case .content button:hover {
  background-color: rgba(255, 166, 0, 0.3764705882);
  color: #ffa500;
}
#gallery .galleryContainer .egypt:hover .content {
  top: 5px;
}
#gallery .galleryContainer .egypt {
  left: auto;
  right: auto;
  height: 300px;
  overflow: hidden;
  position: relative;
  border: 5px solid #fff;
  border-radius: 7px;
  box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
  padding: 5px;
  transition: all 0.8s ease-in;
  bottom: 10px;
  right: 10px;
}
#gallery .galleryContainer .egypt img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#gallery .galleryContainer .egypt .content {
  position: absolute;
  z-index: 99;
  top: -500px;
  padding: 12px;
  text-align: center;
  padding-top: 40px;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 96%;
  color: #fff;
  transition: all 0.2s linear;
}
#gallery .galleryContainer .egypt .content h4 {
  color: #ffa500;
  font-weight: 700;
  font-size: 25px;
}
#gallery .galleryContainer .egypt .content p {
  width: 90%;
  margin: 10px auto;
}
#gallery .galleryContainer .egypt .content button {
  border: 2px solid #ffa500;
  padding: 6px;
  margin-top: 5px;
  color: #fff;
  background-color: #ffa500;
  width: 135px;
}
#gallery .galleryContainer .egypt .content button a {
  color: #fff;
}
#gallery .galleryContainer .egypt .content button:hover {
  background-color: rgba(255, 166, 0, 0.3764705882);
  color: #ffa500;
}

#review {
  overflow: hidden;
  padding: 20px;
}
#review .block {
  border-radius: 15px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
#review .block h3 {
  color: grey;
  font-size: 25px;
}
#review .block img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}
#review .block p {
  padding: 15px 0;
  color: grey;
  font-size: 15px;
}
#review .block .stars i {
  color: orange;
  font-size: 17px;
}

#contact .contactContainer {
  width: 80%;
  margin: 0 auto;
}
#contact .contactContainer .contactForm {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact .contactContainer .contactForm .formImg {
  width: 45%;
}
#contact .contactContainer .contactForm .formImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#contact .contactContainer .contactForm .form {
  box-shadow: 0px 5px 15px 0px rgba(34, 60, 80, 0.2);
  padding: 30px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
#contact .contactContainer .contactForm .form div {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#contact .contactContainer .contactForm .form div input {
  background-color: #f7f7f7;
  border: none;
  outline: none;
  padding: 10px;
  width: 55%;
  margin: 5px;
}
#contact .contactContainer .contactForm .form textarea {
  width: 99%;
  padding: 10px;
  border: none;
  margin-left: 14px;
  background: #f7f7f7;
}
#contact .contactContainer .contactForm .form button {
  border: 2px solid #ffa500;
  padding: 6px;
  color: #fff;
  background-color: #ffa500;
  width: 135px;
}
#contact .contactContainer .contactForm .form button a {
  color: #fff;
}
#contact .contactContainer .contactForm .form button:hover {
  background-color: rgba(255, 166, 0, 0.3764705882);
  color: #ffa500;
}

#sponsors {
  margin-top: 20px;
}
#sponsors .swiper {
  width: 100%;
  height: 100%;
}
#sponsors .swiper-slide img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.i {
  height: 2000px;
}

footer {
  background-color: #333333;
  width: 100%;
  padding: 40px;
  margin-top: 50px;
  color: #fff;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #ffa500;
  text-decoration: underline;
}
footer hr {
  margin: 20px auto;
}
footer .footerLink {
  display: flex;
  flex-direction: column;
}
footer span {
  color: #ffa500;
}

@media (max-width: 1200px) {
  #packages .packageContainer {
    width: 98%;
  }

  #services .serviceContainer {
    width: 100%;
  }
}
@media (max-width: 910px) {
  #packages .packageContainer {
    width: 90%;
  }
  #packages .packageContainer .packagesCards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 990px) {
  #book .bookContainer {
    width: 98%;
  }
}
@media (max-width: 770px) {
  #book .bookContainer .bookRow {
    flex-direction: column;
  }
  #book .bookContainer .bookRow .bookImg {
    width: 90%;
  }
  #book .bookContainer .bookRow .bookForm {
    width: 96%;
  }

  .allHeader {
    font-size: 26px;
    width: 101%;
  }
  .allHeader .space {
    margin-left: 5px;
  }
}
@media (max-width: 520px) {
  .allHeader {
    font-size: 18px;
    width: 101%;
  }
  .allHeader span {
    padding: 10px 8px;
  }
}
@media (max-width: 650px) {
  #packages .packageContainer {
    width: 90%;
  }
  #packages .packageContainer .packagesCards {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 1200px) {
  #contact .contactContainer {
    width: 100%;
  }
}
@media (max-width: 830px) {
  #contact .contactContainer .contactForm {
    display: flex;
    flex-direction: column;
  }
  #contact .contactContainer .contactForm .formImg {
    width: 80%;
  }
  #contact .contactContainer .contactForm .form {
    width: 98%;
  }
}/*# sourceMappingURL=style.css.map */